body {
	background-color: rgb(251,232,237);
	margin: 0px;
}
img {
	width: 35vw;
	height: 35vw;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5vw 5vw;
	grid-template-areas:
		"somtoday itslearning"
		"zermelo office"
		"teams sintjan"
		"login .";
	padding: 10vw;
}
.somtoday { grid-area: somtoday; }
.itslearning { grid-area: itslearning; }
.zermelo { grid-area: zermelo; }
.office { grid-area: office; }
.teams { grid-area: teams; }
.sintjan { grid-area: sintjan; }
.login { grid-area: login; }
