body {
	background-color: rgb(250,250,250);
	margin: 0px;
}
h1 {
	color: blue
}
p {
	color: red;
}
img {
	width: 35vw;
	height: 35vw;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5vw 5vw;
	grid-template-areas:
		"somtoday itslearning"
		"zermelo office"
		"teams sintjan"
		"login .";
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 10vw;
	padding-top: 34vw;
}
.somtoday { grid-area: somtoday; }
.itslearning { grid-area: itslearning; }
.zermelo { grid-area: zermelo; }
.office { grid-area: office; }
.teams { grid-area: teams; }
.sintjan { grid-area: sintjan; }
.login { grid-area: login; }
.sced { grid-area: sced; }
.somImg{
	object-fit: cover;
	object-position: 0% 0%;
}
.name {
	text-align: center;
}

div {
	color: white;
}
a {
	color: white;
}
.icon {
	border-radius: 20vw;
	width: 35vw;
	height: 35vw;
	box-shadow: 10px 10px 20px #bcbcbc, -10px -10px 20px #ffffff
}